
<ion-header [translucent]="true">

	<ion-toolbar>

		<ion-buttons slot="end">

			<ion-button [routerLink]="['/settings']">

				<ion-icon name="settings" slot="icon-only"></ion-icon>

			</ion-button>

			<ion-button [routerLink]="['/about']">

				<ion-icon name="information-circle" slot="icon-only"></ion-icon>

			</ion-button>

		</ion-buttons>

		<ion-title>home</ion-title>

	</ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

	<div class="content-wrapper">

		<app-search-bar (search)="onSearch($event)"></app-search-bar>
		
		<div class="grid-container">

			<ng-container *ngIf="searchQuery.length > 0">

				<app-profile-card *ngFor="let profile of profiles" [profile]="profile"></app-profile-card>

			</ng-container>

		</div>

		<div class="empty-state" *ngIf="!profiles.length">

			<ion-icon name="search-outline"></ion-icon>

			<p>No se encontraron perfiles</p>

		</div>

	</div>

</ion-content>